/* start config */
/* layout */
body,
html,
div,
p,
a,
blockquote,
img,
label,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
/*hr{margin:0;padding:0;}*/
ul,
ol,
li {
  list-style: none;
}
.center {
  text-align: center;
}
.right {
  float: right;
}
.left {
  float: left;
}
/* typography */
body {
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
html,
body,
div,
span {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-size: 100%;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
}
/* behaviour

a{text-decoration:none;}
a:hover{text-decoration:underline;}

 */
/* forms */
input.text,
textarea {
  outline: none;
  border: solid 1px;
  margin: 0;
}
input {
  outline: none;
}
/* functions */
.round-left {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
}
.round-right {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}
.round-both {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.big-round-left {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}
.big-round-right {
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}
.big-round-both {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}
/* end config */

body{font-family: Helvetica;padding:50px;}
p{padding:0 0 10px 0;}

#hr {
  border-color: #aaaaaa;
}
hr {
  color: #aaaaaa;
  background: #aaaaaa;
}

}
table {
  border-color: #bbbbbb;
}
th {
  border-color: #bbbbbb;
  background-color: #e5ecf9;
}
td {
  border-color: #bbbbbb;
  background-color: #ffffff;
}
/* link */
p a,
p a:link,
p a:visited {
  color: #1977e8;
  font-weight: 600;
}
p a:hover {
  color: #4299ff;
}
p a:active {
  color: #0057a8;
}

li a {
  text-decoration: none;
}
li a:link,
li a:visited {
  color: #888888;
}
li a:hover,
li a.active {
  color: #000000;
  text-decoration: none;
}

/* kontakt */
input.text,
textarea {
  border-color: #aaaaaa;
}